{% extends 'base.html' %}
{% load static %}
    {% block title %}Balance{% endblock %}

    {% block css %}
      <style>
            label{
                display:block
            }
            input{
                width: 100%
             }
            .helptext {
                display: block;
                font-size: 11px;
            }
            ul li{
                font-size: 12px
            }
      </style>
    {% endblock %}

    {% block content %}
    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total Deposit</th>
                    </tr>
                  </thead>
                  <tbody>


                    <!--{% for obj in obj %}-->
                    <!--<tr>-->
                        <!--<td>{{ obj.member.name|title }}</td>-->
                        <!--<td>{{ obj.date }}</td>-->
                        <!--<td>{{ obj.total }}</td>-->

                    <!--</tr>-->
                    <!--{% endfor %}-->
                    {% for obj in member_obj %}
                    <tr>
                        <td>{{ obj.name|title }}</td>
                        <td>{{ obj.date }}</td>
                        <td>{{ obj.total }}</td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>

            <!--<div class="row mt-5">-->
                <!--<div class="col-12 text-center">-->
                    <!--<h2 class="bg-dark text-white py-3 mb-3">Make a Deposit</h2>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<form method="POST" action="">-->
                        <!--{% csrf_token %}-->
                        <!--{{ form.as_p }}-->
                        <!--<button class="btn btn-success" type="submit">Submit</button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>
    {% endblock %}

    {% block js %}
    {% endblock %}